*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px solid red

}

form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 20px;
	margin: 50px 0px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input{
	border-style: none;
	margin: 7px;
	padding: 5px;
	font-size: 1.25em;
}

input:focus{
	border-bottom-style: solid;
	border-bottom-color: red;
	outline:none;

}
input[type=submit]{
	border:2px solid #6BB9F0;
	background-color: #6BB9F0;
	color: rgba(0,0,0,0.7);
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type=submit]:hover{
	box-shadow: none;

}

.signup{
	width: 40%;
	align-self: center;
	background-color: white;
}

form p{
	font-style: bold;
	font-size: 1.25em;
	margin: 7px;
	padding: 5px;
}

form > section{
	margin: 5px;
	border:3px solid red;
}
